body { margin: 0; }
table {width: initial !important}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#loading i {width: 200px; height: 200px}

.app-candlebot > .l-navigation-bar,
.app-candlebot > .l-main,
.app-candlebot > .l-navigation .l-navigation__drawer,
.app-candlebot > .l-aside,
.app-candlebot > .l-status {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 0.5rem;
}

.legend {
  position: absolute;
  padding: 8px;
  font-size: 12px;
  z-index: 1000;
  pointer-events: none;
  top: -10;
}

/* VANILLA FRAMEWORK OVERRIDES */
.is-pinned {min-width: 240px;}