/* body { margin: 0; } */
table {width: initial !important}

.legend {
  position: absolute;
  padding: 8px;
  font-size: 12px;
  z-index: 1;
  pointer-events: none;
  top: -10;
}
.left-menu-form {
  width: 220px;
}

/* VANILLA FRAMEWORK OVERRIDES */
.l-navigation {
  padding: 10;
  z-index: 20;
  background-color: #f7f7f7;
  overflow-y: hidden !important;
}
.l-navigation-bar {
  width: 100%;
}
.p-navigation {
  background-color: #aae8fb;
  overflow-y: hidden;
  padding: 0 5;
}
.p-navigation .p-navigation__row {
  margin-left: 0;
}
.is-pinned {
  overflow-y: hidden;
}
.pin-button-margin {margin-right: 30px;}
.l-main {padding-left: 20px;}
