{% extends "base.html" %}
{% block form_left %}
  <form method="GET" action="{{ submit_endpoint }}" class="left-menu-form">
    <label for="date_from">Date From</label>
    <input type="date" id="date_from" name="date_from" value="{{ args.date_from }}">
    <label for="date_to">Date To</label>
    <input type="date" id="date_to" name="date_to" value="{{ args.date_to }}">
    <label for="symbol" class="is-required">Symbols</label>
    {% for symbol in symbol_options %}
      <label>
        <input type="checkbox" name="symbol_{{ symbol }}" id="symbol_{{ symbol }}" value="true" class="p-checkbox__input" aria-labelledby="symbols_label_{{ symbol }}" {% if 'symbol_' + symbol in args %} checked {% endif %}>
        <span class="p-checkbox__label" id="symbols_label_{{ symbol }}">{{ symbol }}</span>
      </label>
    {% endfor %}
    </select>
    <label for="intervals" class="is-required">Intervals</label>
    {% for interval in interval_options %}
      <label>
        <input type="checkbox" name="interval_{{ interval }}" id="interval_{{ interval }}" value="true" class="p-checkbox__input" aria-labelledby="intervals_label_{{ interval }}" {% if 'interval_' + interval in args %} checked {% endif %}>
        <span class="p-checkbox__label" id="intervals_label_{{ interval }}">{{ interval }}</span>
      </label>
    {% endfor %}
    <label for="strategy">Strategy</label>
    <select name="strategy" id="strategy">
      {% for s_id in strategies %}
        <option value="{{s_id}}" {% if s_id == args.strategy %} selected="selected"{% endif %}>{{s_id}}</option>
      {% endfor %}
    </select>
    <button type="submit" name="submit">Load Strategy Fields</button>
    Strategy fields:
    {% for var_field in strategies[args.strategy]['variables'] %}
      <b><label for="{{var_field.name}}">{{var_field.name}} - {{var_field.type}}</label></b>
      {% if var_field.type == 'num'%}
        <table>
          <tr>
            <td>start</td>
            <td><input type="text" id="{{var_field.name}}_from" name="{{var_field.name}}_from" value="{{args[var_field.name + '_from']}}" class="backtest_input"></td>
          </tr>
          <tr>
            <td>end</td>
            <td><input type="text" id="{{var_field.name}}_to" name="{{var_field.name}}_to" value="{{args[var_field.name + '_to']}}" class="backtest_input"></td>
          </tr>
          <tr>
            <td>step</td>
            <td><input type="text" id="{{var_field.name}}_step" name="{{var_field.name}}_step" value="{{args[var_field.name + '_step']}}" class="backtest_input"></td>
          </tr>
        </table>
      {% elif var_field.type == 'bool'%}
        <label>
          <input type="checkbox"  name="{{var_field.name}}" id="{{var_field.name}}" value="true" class="p-checkbox__input" aria-labelledby="{{var_field.name}}" {% if var_field.name in args %} checked {% endif %}>
          <span class="p-checkbox__label" id="{{var_field.name}}">{{var_field.name}}</span>
        </label>
      {% endif %}
    {% endfor %}
    {% for ind_id, ind_fields in strategies[args.strategy]['indicators'].items() %}
      Indicator {{ ind_id }} fields:
      {% for field in ind_fields %}
        <b><label for="{{field.name}}">{{field.name}} - {{field.type}}</label></b>
        {% if field.type == 'num'%}
          <table>
            <tr>
              <td>start</td>
              <td><input type="text" id="{{field.name}}_from" name="{{field.name}}_from" value="{{args[field.name + '_from']}}" class="backtest_input"></td>
            </tr>
            <tr>
              <td>end</td>
              <td><input type="text" id="{{field.name}}_to" name="{{field.name}}_to" value="{{args[field.name + '_to']}}" class="backtest_input"></td>
            </tr>
            <tr>
              <td>step</td>
              <td><input type="text" id="{{field.name}}_step" name="{{field.name}}_step" value="{{args[field.name + '_step']}}" class="backtest_input"></td>
            </tr>
          </table>
        {% elif field.type == 'bool'%}
          <label>
            <input type="checkbox"  name="{{field.name}}" id="{{field.name}}" value="true" class="p-checkbox__input" aria-labelledby="{{field.name}}" {% if field.name in args %} checked {% endif %}>
            <span class="p-checkbox__label" id="{{field.name}}">{{field.name}}</span>
          </label>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <hr class="is-muted">
    <label>
      <input type="checkbox" aria-labelledby="create_test" class="p-checkbox__input" id="create_test_checkbox">
      <span class="p-checkbox__label" id="create_test">CREATE TEST</span>
    </label>
    <button type="submit" id="create_test_submit_button" name="submit" disabled>{{ submit_button_text }}</button>
  </form>
  {% if form_response %}
    <span>{{ form_response }}</span>
  {% endif %}
{% endblock %}
{% block page_content %}
  <div class="backtesting-tables">
    {% for strat, backtest_data in backtests.items() %}
      <p>{{ strat }}</p>
      <table>
        <thead>
          <tr>
            {% for header, header_tooltip in backtest_data.header %}
              <th class="p-tooltip--top-center" aria-describedby="tp-cntr">
                {{ header }}
                {% if header_tooltip %}<span class="p-tooltip__message" role="tooltip" id="tp-cntr">{{ header_tooltip }}</span>{% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for backtest in backtest_data.tests %}
            <tr>
              {% for field in backtest %}
                <td>
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endblock %}
{% block footer %}
  <script src="js/backtesting.js"></script>
{% endblock %}