{% extends "base.html" %}
{% block form_left %}
  <form method="GET" action="{{ submit_endpoint }}" class="left-menu-form">
    <label for="date_from">Date From</label>
    <input type="date" id="date_from" name="date_from" value="{{ date_from }}">
    <label for="date_to">Date To</label>
    <input type="date" id="date_to" name="date_to" value="{{ date_to }}">
    <label for="symbol">Symbols</label>
    <select name="symbols" id="symbols" multiple="">
    {% for symbol in symbol_options %}
      <option value="{{ symbol }}" default>{{ symbol }}</option>
    {% endfor %}
    </select>
    <label for="intervals">Intervals</label>
    <select name="intervals" id="intervals" multiple="">
    {% for interval in interval_options %}
      <option value="{{ interval }}" default>{{ interval }}</option>
    {% endfor %}
    </select>
    <label for="strategy">Strategy</label>
    <select name="strategy" id="strategy">
      {% for s_id in strategies %}
        <option value="{{s_id}}" {% if s_id == selected_strategy %} selected="selected"{% endif %}>{{s_id}}</option>
      {% endfor %}
    </select>
    <button type="submit" name="submit">Load Strategy Fields</button>
    Strategy fields:
    {% for var_field in strategies[selected_strategy]['variables'] %}
      <b><label for="{{var_field.name}}">{{var_field.name}} - {{var_field.type}}</label></b>
      {% if var_field.type == 'num'%}
        start <input type="text" id="{{var_field.name}}_from" name="{{var_field.name}}_from" value="0" class="backtest_input">
        end &nbsp;<input type="text" id="{{var_field.name}}_to" name="{{var_field.name}}_to" value="0" class="backtest_input">
        step <input type="text" id="{{var_field.name}}_step" name="{{var_field.name}}_step" value="0" class="backtest_input">
      {% elif var_field.type == 'bool'%}
        <label class="p-checkbox">
          <input type="checkbox" aria-labelledby="{{var_field.name}}" class="p-checkbox__input backtest_input">
          <span class="p-checkbox__label" id="{{var_field.name}}">{{var_field.name}}</span>
        </label>
      {% endif %}
    {% endfor %}
    {% for ind_id, ind_fields in strategies[selected_strategy]['indicators'].items() %}
      Indicator {{ ind_id }} fields:
      {% for field in ind_fields %}
        <b><label for="{{field.name}}">{{field.name}} - {{field.type}}</label></b>
        {% if field.type == 'num'%}
          start <input type="text" id="{{field.name}}_from" name="{{field.name}}_from" value="0" class="backtest_input">
          end &nbsp;<input type="text" id="{{field.name}}_to" name="{{field.name}}_to" value="0" class="backtest_input">
          step <input type="text" id="{{field.name}}_step" name="{{field.name}}_step" value="0" class="backtest_input">
        {% elif field.type == 'bool'%}
          <label class="p-checkbox">
            <input type="checkbox" aria-labelledby="{{field.name}}" class="p-checkbox__input backtest_input">
            <span class="p-checkbox__label" id="{{field.name}}">{{field.name}}</span>
          </label>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <hr class="is-muted">
    <label class="p-checkbox">
      <input type="checkbox" aria-labelledby="create_test" class="p-checkbox__input">
      <span class="p-checkbox__label" id="create_test">CREATE TEST</span>
    </label>
    <button type="submit" name="submit">{{ submit_button_text }}</button>
  </form>
  {% if form_response %}
    <span>{{ form_response }}</span>
  {% endif %}
  <form action="{{ submit_endpoint }}"><button>Reload</button></action>
{% endblock %}
{% block page_content %}
  <div class="backtesting-tables">
    {% for strat, backtest_data in backtests.items() %}
      <p>{{ strat }}</p>
      <table>
        <thead>
          <tr>
            {% for header, header_tooltip in backtest_data.header %}
              <th class="p-tooltip--top-center" aria-describedby="tp-cntr">
                {{ header }}
                {% if header_tooltip %}<span class="p-tooltip__message" role="tooltip" id="tp-cntr">{{ header_tooltip }}</span>{% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for backtest in backtest_data.tests %}
            <tr>
              {% for field in backtest %}
                <td>
                  {{ field }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </div>
{% endblock %}
{% block footer %}
  <script src="js/backtesting.js"></script>
{% endblock %}