{% extends "base.html" %}

{% block page_content %}
    <div id="page-container-charter" data-points="{{ data_points }}"></div>
    {% if legend %}
    <div id="charts_legend_stats_container">
        <div class="charts_legend">
            <table>
                <tr>
                    <td colspan="2" class="charts_legend_stats_title">
                        Markers Indicators
                    </td>
                </tr>
                <tr>
                    <td>
                        id
                    </td>
                    <td>
                        color
                    </td>
                </tr>
                {% for indicator_id, color in legend.markers_indicators.items() %}
                    <tr>
                        <td>
                            {{ indicator_id }}
                        </td>
                        <td style="background-color: {{ color }}">
                            {{ color }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="charts_legend">
            <table>
                <tr>
                    <td colspan="2" class="charts_legend_stats_title">
                        Lines Indicators
                    </td>
                </tr>
                <tr>
                    <td>
                        id
                    </td>
                    <td>
                        color
                    </td>
                </tr>
                {% for indicator_id, indicator_color in legend.lines_indicators.items() %}
                    <tr style="background-color: {{indicator_color}}">
                        <td>
                            {{ indicator_id }}
                        </td>
                        <td>
                            {{ indicator_color }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id=charts_stats>
            <table>
                <tr>
                    <td colspan="2" class="charts_legend_stats_title">
                        Stats
                    </td>
                </tr>
                {% for stat_id, stat_value in legend.stats.items() %}
                    <tr>
                        <td>
                            {{ stat_id }}
                        </td>
                        {% if stat_id == 'earn'%}
                            <td style="background-color:{%if stat_value > 100%}green{%else%}red{%endif%}">
                                {{ stat_value }} %
                            </td>
                        {% else %}
                            <td>
                                {{ stat_value }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id="charts_datetime">
            <label for="point_in_chart">Choose a point in the chart</label>
            <input type="datetime-local" id="point_in_chart" name="point_in_chart" value="2021-08-09T00:00" onchange="changeChartPosition(event)">
        </div>
    </div>
    {% else %}
    No data returned from api, maybe you need first to backfill the database with the desired PAIR + INTERVAL + PERIOD
    {% endif %}

{% endblock %}
{% block footer %}
  <script src="js/charter.js"></script>
{% endblock %}