{% extends "base.html" %}

{% block page_content %}
    <div class="row" style="height: 38px;">
        <div class="col-2">
            <p class="p-heading--3">{{ strategy_params.symbol }}</p>
        </div>
        <div class="col-2">
            <div class="u-align-text--small-to-default p-text--small">from: {{ strategy_params.date_from }}</div>
        </div>
        <div class="col-2" style="text-align: center;">
            <p class="p-text--x-small-capitalised u-align-text--x-small-to-default" style="font-weight: 700">{{ strategy_params.strategy }}</p>
        </div>
        <div class="col-2">
            <div class="u-align-text--small-to-default p-text--small">to: {{ strategy_params.date_to }}</div>
        </div>
        <div class="col-4">
            <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">Interval: {{ strategy_params.interval }}</p>
        </div>
    </div>
    <div id="page-container-charter" data-points="{{ data_points }}"></div>
    <div id=charts_legend_stats_container>
        <div id=charts_legend>
            <table>
                <tr>
                    <td colspan="3" class="charts_legend_stats_title">
                        Markers Indicators
                    </td>
                </tr>
                <tr>
                    <td>
                        id
                    </td>
                    <td>
                        color above
                    </td>
                    <td>
                        color below
                    </td>
                </tr>
                {% for indicator_id, indicator_data in legend.markers_indicators.items() %}
                    <tr>
                        <td>
                            {{ indicator_id }}
                        </td>
                        <td style="background-color: {{ indicator_data.above }}">
                            {{ indicator_data.above }}
                        </td>
                        <td style="background-color: {{ indicator_data.below }}">
                            {{ indicator_data.below }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id=charts_legend>
            <table>
                <tr>
                    <td colspan="2" class="charts_legend_stats_title">
                        Lines Indicators
                    </td>
                </tr>
                <tr>
                    <td>
                        id
                    </td>
                    <td>
                        color
                    </td>
                </tr>
                {% for indicator_id, indicator_color in legend.lines_indicators.items() %}
                    <tr style="background-color: {{indicator_color}}">
                        <td>
                            {{ indicator_id }}
                        </td>
                        <td>
                            {{ indicator_color }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div id=charts_stats>
            <table>
                <tr>
                    <td colspan="2" class="charts_legend_stats_title">
                        Stats
                    </td>
                </tr>
                {% for stat_id, stat_value in legend.stats.items() %}
                    <tr>
                        <td>
                            {{ stat_id }}
                        </td>
                        {% if stat_id == 'earn'%}
                            <td style="background-color:{%if stat_value > 100%}green{%else%}red{%endif%}">
                                {{ stat_value }} %
                            </td>
                        {% else %}
                            <td>
                                {{ stat_value }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
{% block footer %}
  <script src="js/charter.js"></script>
{% endblock %}